thead th,
tfoot th {
    background-color: #b30000 !important;
    color: white !important;
}

th, td {
    text-align: center !important;
    vertical-align: middle !important;
}

.dataTables_paginate a:hover {
    color: #b30000 !important;
}