.main-sidebar,
.main-sidebar .nav-link,
.main-sidebar .nav-icon,
.main-sidebar .brand-link {
  color: #b30000 !important;
}

/* active */
.nav-link.active {
    background-color: #b30000 !important;
    color: white !important;
}

.nav-link.active .nav-icon {
    color: white !important;
}

/* hover */
.main-sidebar .nav-link:hover {
    background-color: #f8d7da !important;
}

/* submenu */
.nav-treeview {
  border-left: 2px solid #ddd;
}