:root {
    --main-color: #b30000;
    --bg-color: #ffffff;
    --text-color: #333;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* BUTTON */
.btn {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.btn:hover {
    background-color: #800000;
}

/* LOGIN BUTTON */
.login-btn {
    background: linear-gradient(to right, #b30000, #800000);
    font-weight: 600;
    border-radius: 20px;
}

/* HEADER */
header {
    width: 100%;
    background: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* LOGO */
.logo-text {
    font-weight: bold;
    color: #b30000;
    font-size: 20px;
}

/* NAV */
.navbar a {
    color: #333;
    text-decoration: none;
}

.navbar a:hover {
    color: #b30000;
}